.avatar-uploader .el-upload {
    border: 3px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100%;
    height: auto;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 100%;
    height: auto;
    display: block;
}
.avatar-uploader-icon-photo {
    width: 800px;
    height: 600px;
    font-size: 28px;
    color: #8c939d;
    line-height: 600px;
    text-align: center;
}
.avatar-uploader-icon-cover {
    width: 200px;
    height: 200px;
    font-size: 28px;
    color: #8c939d;
    line-height: 200px;
    text-align: center;
}
.avatar-uploader input {
    display: none;
}
.image-container {
    position: relative;
    text-align: center;
    color: white;
}
.image-centered-text {
    position: absolute;
    font-size: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}