.parent-photo {
    width: 800px;
}
.parent-card {
    width: 200px;
}
.parent-cover {
    width: 200px;
}
.image-aspect {
    display: block;
    width: 100%;
    height: auto;
}
.bio{
    color: #000000;
    text-align: justify;
    text-decoration: none;
    text-indent: 10px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 0.8;
    word-spacing: 2px;
    white-space: pre-wrap;
}
.centered-table-header {
    text-align: center;
}