.card {
    background: #F5F5F5;
    display: inline-block;
    padding: 10px;
    margin: 0 0 1em;
    width: 100%;
    cursor: pointer;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden; 
    transition: all 100ms ease-in-out;
}
.card:hover {
    transform: translateY(-0.5em);
    background: #EBEBEB;
}
.card img {
    display: block;
    width: 100%;
}
.cards {
    margin: 4em 0 0 0;
    column-count: 1;
    column-gap: 1em;
}
@media only screen and (min-width: 500px) {
    .cards {
        column-count: 2;
    }
}
@media only screen and (min-width: 700px) {
    .cards {
        column-count: 2;
    }
} 
@media only screen and (min-width: 900px) {
    .cards {
        column-count: 3;
    }
}
@media only screen and (min-width: 1100px) {
    .cards {
        column-count: 4;
    }
}