/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner --*/
.w3-banner{
	background: url(../images/ustwo.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.wthree-different-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 0 0 13em;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.w3layouts-header-top{
    padding: 1em 0em;
    background: rgba(0, 0, 0, 0.53);
}
.w3-header-top-left{
    float: left;
    width: 15%;
}
.w3-header-top-left p,.w3-header-top-right-text p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.w3-header-top-right{
    float: right;
}
.agileinfo-social-grids {
    float: left;
}
/*-- social-icons --*/
.agileinfo-social-grids{
    margin-left: 0;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
	text-align: center;
}
.agileinfo-social-grids ul li a i.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a i.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	color: #45668e;
}
.agileinfo-dot,.agile-dot {
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 3px;
    -webkit-background-size: 3px;
    -moz-background-size: 3px;
    -o-background-size: 3px;
    -ms-background-size: 3px;
}
.logo h1{
    margin: .2em 0 0 0;
}
.logo h1 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 100;
}
.logo h1 a span{
    font-size: 1.5em;
    color: #FF5722;
    font-weight: 600;
}
.navbar-brand {
   height: auto; 
    padding: 0; 
    font-size: 18px; 
    line-height: 20px;
}
.navbar-nav {
    float: right;
    margin-top: 2em;
}
.navbar-default {
    border: none;
    background: none;
    min-height: auto;
    margin-bottom: 0;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
.navbar-nav li.first-list:after,ul.dropdown-menu li:after{
    background: none !important;
	width: 0px !important;
}
ul.nav.navbar-nav li a {
	font-size: .8em;
    color: #FFFFFF;
    margin: 0 1em;
    padding: .5em 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: solid 2px rgba(255, 255, 255, 0);
}
ul.nav.navbar-nav li a:hover{
    color: #FFFFFF !important;
    border: solid 2px #FFFFFF;
}
ul.nav.navbar-nav li a:focus{
	outline:none;
	border: solid 2px rgba(255, 255, 255, 0)
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background:none !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
ul.nav.navbar-nav li.active a {
    color: #FFFFFF;
    background: none;
    border: solid 2px #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background:none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none!important;
}
/*-- banner --*/
.banner{
    margin: 5em 0 0 0;
}
.slider {
	position: relative;
}
.w3ls-icon{
	text-align:center;
}
.w3ls-icon i.fa{
	color:#FFFFFF;
	font-size:15em;
}
.border{
    height: 2px;
    background: #FFF;
    width: 4%;
    margin: 22px auto 0;
}
.slider-info {
    text-align: center;
    margin: 3em 0 0 0;
}
.slider-info h3{
    font-size: 6em;
    margin: 0;
    color: #FFF;
    font-weight: 100;
}
.slider-info p{
    color: #E8E8E8;
    font-size: 1em;
    margin: 1em 0 0 0;
}
.more-button a{
    border: solid 2px #FFF;
    color: #FFF;
    font-size: 1em;
    padding: .5em 2em;
    text-decoration: none;
    letter-spacing: 1px;
}
.more-button {
    margin: 7em 0 1em 0;
}	
.more-button a:hover{
    background: #FF5722;
	border: solid 2px #FF5722;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 2px;
    width: 45px;
    margin-top: 0;
    background: #FFF;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
    right:0;
    background-position: right top;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 106%;
    z-index: 999;
    right: 48%;
    padding: 0;
    margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .2em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    visibility: visible;
    display: block;
    height: 6px;
    width: 6px;
    background: #C1C1C1;
    display: inline-block;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}
.callbacks_here a:after{
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
	height: 12px;
    width: 12px;
}	
ul.callbacks_tabs.callbacks2_tabs {
    top: 73%;
    left: 46%;
}
ul.callbacks_tabs.callbacks2_tabs li {
    display: inline-block;
    margin: 0 .5em;
}
ul.callbacks_tabs.callbacks2_tabs a:after {
    background: #F1C99B !important;
}
ul.callbacks_tabs.callbacks2_tabs a:after {
    border: none;
}
/*-- //banner --*/
/*-- modal --*/

.agileits-w3layouts-info img{
	width:100%;
}
.modal-header h4 {
    color: #000000;
    font-size: 1.5em;
    font-weight: 100;
}
.modal-header h4 span{
	font-size: 1.5em;
    color: #FF5722;
    font-weight: 600;
}
.modal-body p{
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #999999;
    line-height: 1.8em;
}
/*-- //modal --*/
/*-- banner-bottom --*/
.banner-bottom{
    position: absolute;
    top: 45em;
    width: 100%;
}
.banner-bottom-left{
    background: #000000;
    padding: 2.5em;
}
.banner-bottom-right{
    background: #03A9F4 !important;
}
.left-border{
    border: solid 5px #FFF;
}
.left-border-info {
	padding: 2em;
}
.left-border-info h4{
	color: #FFF;
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.left-border-info p{
	color:#FFFFFF;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
/*-- //banner-bottom --*/
/*-- introduction --*/
.introduction{
	padding: 14em 0 4em 0;
}
.w3l-heading h2,.w3l-heading h3{
    text-align: center;
    color: #000000;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 2px;
}
.w3ls-border{
    background: #000000;
    width: 7%;
    margin: 3em auto 0;
    height: 2px;
}
.introduction-info,.agileits-about-grids,.agileinfo_services_grids,.gallery-grids,.agile_team_grids,.w3-agileits-subscribe-form,.contact-row{
    margin: 4em 0 0 0;
}
.introduction-info p{
	color: #999999;
    font-size: .9em;
    margin: 0 auto;
    line-height: 1.8em;
    width: 70%;
    text-align: center;
}
/*-- //introduction --*/
/*-- about --*/
.about,.services,.gallery,.team,.subscribe,.contact{
	background: #d44d23;
    padding: 4em 0;
}
.about-heading h3{
	color:#FFFFFF;
}
.about-border{
	background: #FFFFFF;
}
.about-grids1 {
	margin-top: 4em;
}
/*-- Effect 1--*/
.about-grid-left span{
    font-size: 2em;
    color: #FF5722;
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    padding: 1em;
}
.about-grid-left span:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.effect-1 {
    background: #ffffff;
    -webkit-transition: background 0.5s, color 0.2s;
    -moz-transition: background 0.5s, color 0.2s;
    transition: background 0.5s, color 0.2s;
}
.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 2px #000000;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.5s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
}
.about-grid:hover span{
	background: #000000;
    color: #fff !important;
}
.about-grid:hover span:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/*--//Effect 1--*/
.about-grid-right h4 {
	font-size: 1em;
    margin: 0 0 .5em;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.about-grid-right p{
    margin: 0;
    font-size: .9em;
    color: #ffffff;
    line-height: 1.8em;
}
.about-grid-left {
    text-align: right;
    padding-right: 2em;
}
/*-- //about --*/
/*-- services --*/
.services{
	background:#FFFFFF;
}
.agileinfo_services_grid:nth-child(4),.agileinfo_services_grid:nth-child(5),.agileinfo_services_grid:nth-child(6){
	margin:2em 0 0 0;
}
.agileinfo_services_grid_left{
	float:left;
	width:70%;
}
.agileinfo_services_grid_right{
	float:right;
	width:30%;
}
.agileinfo_services_grid_left h4{
	font-size: 1em;
    color: #000000;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.agileinfo_services_grid_right h4{
    font-size: 3em;
    color: #e4e4e4;
    text-align: right;
    margin: 0;
}
.agileinfo_services_grid p{
    color: #999;
    line-height: 1.8em;
    margin: 1em 0 0;
    font-size: .9em;
}
/*-- //services --*/
/*-- gallery --*/
.gallery{
	background: #e4e4e4;
}
.w3l-gallery-heading h3{
	text-align:right !important;
	color: #FF5722 !important;
}
.gallery-grid img {
    width: 100%;
    cursor: pointer;
}
.gallery-top-grids:nth-child(2),.gallery-top-grids:nth-child(3){
	margin-top:0;
}
.gallery-grids-left {
    padding: 0;
}
.gallery-grid{
	position:relative;
	overflow: hidden;
}
.gallery-grid:hover .captn {
    bottom: 12%;
}
.captn {
    background: rgba(255, 87, 34, 0.69);
    padding: 2em;
    position: absolute;
    border: solid 1px #FFF;
    left: 6%;
    bottom: -100%;
    text-align: center;
    width: 340px;
    height: 200px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.captn h4 {
	font-size: 1.2em;
    color: #fff;
    margin: 2.5em 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.captn p {
    margin: 0.5em 0 0 0;
    color: #FFFFFF;
    font-size: .9em;
}
/*-- //gallery --*/
/*-- team --*/
.team{
	background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.w3lmask p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .w3lmask,.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 297px;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
    color: #212121;
    text-align: center;
    position: relative;
    font-size: 1em;
    font-weight: 800;
    margin: 0 0 1em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.w3-agile-view img {
	-webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    width: 100%;
}
.w3-agile-view .w3lmask {
    background-color: rgba(255, 87, 34, 0.71);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
    padding: 5em 1em 1em 1em;
}
.w3-agile-view h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.w3-agile-view p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .w3-agile-view .w3lmask,.w3-agile-view:hover .w3lmask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .w3-agile-view img,.w3-agile-view:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .w3-agile-view h5,.w3-agile-view:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .w3-agile-view p,.w3-agile-view:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.w3-agile-view .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .w3-agile-view .agileits_social_icons,.w3-agile-view:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.social {
    margin: 1em 0 0 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
	display:inline-block;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook{
    height: 40px;
    width: 40px;
    background: none;
	border:solid 2px #FFFFFF;
    line-height: 39px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-facebook:hover {
	background: #3b5998;
	border:solid 2px #3b5998;
}
.social ul li a i.fa.fa-twitter{
    height: 40px;
    width: 40px;
    background: none;
	border:solid 2px #FFFFFF;
    line-height: 39px;
    color: #FFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-twitter:hover{
	border:solid 2px #1da1f2;
	background: #1da1f2;
}
.social ul li a i.fa.fa-rss{
    height: 40px;
    width: 40px;
    background: none;
	border:solid 2px #FFFFFF;
    line-height: 39px;
    color: #FFFFFF;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social ul li a i.fa.fa-rss:hover{
	border:solid 2px #f26522;
	background: #f26522;
}
.social ul li:nth-child(2){
	margin:0 .5em;
}
/*-- //team --*/
/*-- subscribe --*/
.subscribe{
	background:#FFFFFF;
}
.w3-agileits-subscribe-form {
    text-align: center;
}
.w3-agileits-subscribe-form input[type="email"] {
    display: inline-block;
    background: #FFFFFF;
    width: 45%;
    outline: none;
    padding: 1em;
    font-size: .9em;
    color: #999999;
	border: solid 1px #999999;
}
button.btn1 {
    color: #FFFFFF;
    font-size: .9em;
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    background: #03A9F4;
    border: solid 2px #03a9f4;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover {
    background: none;
	color:#212121;
	border: solid 2px #212121;
}
/*-- //subscribe --*/
/*-- contact --*/ 
.contact{
    background: #e4e4e4;
}
.contact-grid {
    background-color: #03a9f4;
    padding: 3.5em;
}
.contact-grid h4 {
    font-size: 1.2em;
    color: #fff;
    margin: 0 0 1em 0;
    font-weight: 600;
    letter-spacing: 2px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 100%;
    color: #555;
    background: #fff;
    outline: none;
    font-size: .9em;
    padding: .8em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #fff;
    -webkit-appearance: none;
}
.contact textarea {
    resize: none;       
    min-height: 14.8em;   
}
.contact input[type="submit"] { 
	outline: none;
    color: #fff;
    padding: .8em 4em;
    font-size: .9em;
    -webkit-appearance: none;
    background: #000000;
    border: solid 1px #000000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact input[type="submit"]:hover{
	background: none; 
	border-color:#fff;
}
.contact ::-webkit-input-placeholder{
	color:#555 !important;
}
.address-row {
    margin-top: 2em;
}
.contact-w3lsright h6 {
    font-size: 1em;
    color: #000000;
    font-weight: 600;
    line-height: 1.8em;
    text-transform: uppercase;
	letter-spacing:2px;
}
.address-left {
    padding: 0;
    text-align: center;
}
.address-row span.glyphicon {
	font-size: 1.2em;
    border: 2px solid #FF5722;
    padding: 1em;
    color: #FF5722;
    transition: .5s all;
}
.address-row:hover span.glyphicon {
    border-color: #000000;
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
.address-right p{
	color:#999999;
	font-size:.9em;
	margin:1em 0 0 0;
}
.address-row h5 {
	font-size: 1.2em;
    color: #000000;
    margin: 0;
}
.address-row p a {
    color: #999999;
	margin:1em 0 0 0;
	text-decoration:none;
}
.address-row p a:hover{
    color: #FF5722;
}
.address h4 {
    font-size: 1.8em;
    color: #bb3756;
    margin-bottom: 0.6em;
    text-transform: uppercase;
}
.map.agileits {
    margin-top: 3em;
}
.map iframe {
    width: 100%;
    min-height: 240px;
    border:none;
    margin-bottom: -.5em;
}
/*-- //contact --*/
/*-- footer --*/
.agileits-w3layouts-footer{
    background: #313131;
    padding: 3em 0;
}
.w3-agile-grid h5{
    text-transform: uppercase;
    margin: 0 0 2em 0;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}
.w3-agile-grid p{
	color: #b5b5b5;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}

.footer-agileinfo-social {
    margin: 2em 0 0 0;
}
.footer-agileinfo-social ul {
    padding: 0;
    margin: 0;
}
.footer-agileinfo-social ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.footer-agileinfo-social ul li a {
    color: #FFFFFF;
    text-align: center;
}
.footer-agileinfo-social ul li a i.fa {
    height: 30px;
    width: 30px;
    border: solid 2px #212121;
    line-height: 29px;
    background: #212121;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.footer-agileinfo-social ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.footer-agileinfo-social ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.footer-agileinfo-social ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.footer-agileinfo-social ul li a i.fa.fa-vk:hover{
	border: solid 2px #45668e;
	background:#45668e;
	color: #FFFFFF;
}
.w3ls-post-img{
	float:left;
	width:20%;
}
.w3ls-post-img a img{
	width:100%;
}
.w3ls-post-info{
	float:right;
	width:75%;
}
.w3ls-post-info h6{
    margin: 0;
	font-size:.9em;
}
.w3ls-post-info h6 a{
	color:#FFFFFF;
	margin:0;
	text-decoration:none;
}
.w3ls-post-info h6 a:hover{
    color: #FF5722;
}
.w3ls-post-info h6 a:focus{
	outline:none;
	text-decoration:none;
}
.w3ls-post-info p{
	color: #b5b5b5;
    font-size: .9em;
    margin: 1em 0 0 0;
}
.w3ls-post-grid:nth-child(2){
	margin:1em 0;
}
.w3-address-grid{
    background: #212121;
    padding: 1em;
}
.w3-address-left{
	float:left;
	width:10%;
}
.w3-address-left i.fa.fa-phone,.w3-address-left i.fa.fa-envelope,.w3-address-left i.fa.fa-map-marker{
    color: #FFFFFF;
    font-size: 1.5em;
}
.w3-address-right{
	float: right;
    width: 87%;
}
.w3-address-right h6{
	color: #FFFFFF;
    font-size: 1em;
    margin: 0;
    font-weight: 400;
}
.w3-address-right p{
	color:#b5b5b5;
	margin:1em 0 0 0;
	font-size:.9em;
}
.w3-address-right p a{
	color:#ff5301;
	text-decoration:none;
}
.w3-address-right p a:hover{
	color:#b5b5b5;
}
.w3-address-right p span{
	display:block;
	margin:.5em 0;
}
.w3-address-grid:nth-child(2){
	margin:1em 0;
}
.copyright{
	padding:1em 0;
	text-align:center;
	background:#212121;
}
.copyright p{
	color:#b5b5b5;
	font-size:.9em;
	margin:0;
}
.copyright p a{
    color: #FF5722;
    text-decoration: none;
}
.copyright p a:hover{
	color:#FFFFFF;	
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive --*/
@media(max-width:1440px){
	.captn {
		width: 320px;
		height: 185px;
	}
}
@media(max-width:1366px){
	.captn {
		width: 300px;
		height: 175px;
	}
	.captn h4 {
		margin: 2em 0 0 0;
	}
}
@media(max-width:1280px){
	.captn {
		width: 280px;
		height: 165px;
	}
}
@media(max-width:1080px){
	ul.nav.navbar-nav li a {
		margin: 0 .5em;
	}
	.navbar-nav {
		margin-top: 3em;
	}
	.captn {
		width: 235px;
		height: 140px;
	}
	.captn h4 {
		margin: 1em 0 0 0;
	}
	.w3-agile-view .w3lmask {
		padding: 3em 1em 1em 1em;
	}
}
@media(max-width:1024px){
	.captn {
		width: 220px;
		height: 130px;
	}
}
@media(max-width:991px){
	.w3-header-top-left {
		width: 25%;
	}
	ul.nav.navbar-nav li a {
		margin: 0 .2em;
		padding: .5em .5em;
	}
	.logo h1 a {
		font-size: 1.1em;
	}
	.navbar-nav {
		margin-top: 2em;
	}
	.banner-bottom {
		position: inherit;
		padding: 4em 0;
	}
	.banner-bottom-left {
		float: left;
		width: 50%;
		padding: 1.5em;
	}
	.left-border-info h4 {
		line-height: 1.5em;
	}
	.introduction {
		padding: 0 0 4em 0;
	}
	.introduction-info p {
		width: 95%;
	}
	.about-grid:nth-child(2) {
		margin: 2em 0 0 0;
	}
	.about-grids1 {
		margin-top: 2em;
	}
	.agileinfo_services_grid {
		width: 50%;
		float: left;
	}
	.agileinfo_services_grid:nth-child(3),.agileinfo_services_grid:nth-child(4), .agileinfo_services_grid:nth-child(5), .agileinfo_services_grid:nth-child(6) {
		margin: 2em 0 0 0;
	}
	.agile_team_grid {
		width: 50%;
		float: left;
	}
	.view .w3lmask, .view .content {
		height: 390px;
	}
	.w3-agile-view .w3lmask {
		padding: 8em 1em 1em 1em;
	}
	.w3-agile-grid:nth-child(2) {
		margin: 2em 0;
	}
	.wthree-different-dot {
		padding: 0 0 6em;
	}
	.agile_team_grid:nth-child(3),.agile_team_grid:nth-child(4){
		margin:2em 0 0 0;
	}
	.contact-grid {
		padding: 2.5em;
	}
	.map iframe {
		min-height: 180px;
	}
}
@media(max-width:900px){
	.captn {
		width: 195px;
		height: 110px;
	}
}
@media(max-width:800px){
	.slider-info h3 {
		font-size: 5em;
	}
	.callbacks_tabs {
		right: 46%;
	}
	.slider-info {
		margin: 2em 0 0 0;
	}
	.more-button {
		margin: 4em 0 1em 0;
	}
	.captn {
		width: 170px;
		height: 100px;
		padding: 1em;
	}
	.captn h4 {
		margin: .5em 0 0 0;
	}
}
@media(max-width:736px){
	.navbar-top {
		position: relative;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		position: absolute;
		width: 100%;
		z-index: 9999;
	}
	.navbar-toggle {
		border: 1px solid rgb(255, 255, 255);
	}
	.navbar-toggle .icon-bar {
		background: #FFFFFF;
	}
	.navbar-toggle {
		margin-top: 26px;
	}
	ul.nav.navbar-nav li a {
		margin: .5em 0;
		padding: .5em 0;
	}
	.navbar-nav {
		float: none;
		text-align: center;
		margin: 1em 0;
	}
	.gallery-grids-left {
		float: left;
		width: 50%;
	}
	.captn {
		width: 315px;
		height: 185px;
	}
	.captn h4 {
		margin: 2.5em 0 0 0;
	}
	.contact-w3lsright {
		margin: 2em 0 0 0;
	}
	.border {
		width: 10%;
	}
}
@media(max-width:667px){
	.slider-info h3 {
		font-size: 4em;
	}
	.captn {
		width: 290px;
		height: 170px;
	}
	.w3-agile-view .w3lmask {
		padding: 6em 1em 1em 1em;
	}
}
@media(max-width:640px){
	.captn {
		width: 280px;
		height: 164px;
	}
	.w3ls-border {
		width: 15%;
	}
}
@media(max-width:600px){
	.banner {
		margin: 4em 0 0 0;
	}
	.banner-bottom-left {
		float: none;
		width: 100%;
		padding: 1em;
	}
	.agileinfo_services_grid {
		width: 100%;
		float: none;
	}
	.agileinfo_services_grid:nth-child(2),.agileinfo_services_grid:nth-child(3), .agileinfo_services_grid:nth-child(4), .agileinfo_services_grid:nth-child(5), .agileinfo_services_grid:nth-child(6) {
		margin: 2em 0 0 0;
	}
	.agileinfo_services_grid p {
		margin: .5em 0 0;
	}
	.captn {
		width: 260px;
		height: 155px;
	}
	.w3-agile-view .w3lmask {
		padding: 5em 1em 1em 1em;
	}
}
@media(max-width:568px){
	.captn {
		width: 245px;
		height: 145px;
	}
	.captn h4 {
		margin: 1.5em 0 0 0;
	}
	.w3-agile-view .w3lmask {
		padding: 4em 1em 1em 1em;
	}
}
@media(max-width:480px){
	.slider-info h3 {
		font-size: 3em;
	}
	.slider-info p {
		margin: 1em auto 0;
		width: 90%;
	}
	.callbacks_tabs {
		right: 44%;
	}
	.about-grid-left span {
		font-size: 1.5em;
	}
	.w3-header-top-left {
		width: 35%;
	}
	.captn {
		width: 200px;
		height: 120px;
	}
	.w3-agile-view .w3lmask {
		padding: 2em 1em 1em 1em;
	}
	.contact-grid {
		padding: 1.5em;
	}
}
@media(max-width:414px){
	.w3ls-icon i.fa {
		font-size: 1.5em;
	}
	.slider-info {
		margin: 1em 0 0 0;
	}
	.slider-info h3 {
		font-size: 2.5em;
	}
	.callbacks_nav {
		width: 25px;
	}
	.wthree-different-dot {
		padding: 0 0 4em;
	}
	.more-button {
		margin: 2em 0 1em 0;
	}
	.more-button a {
		font-size: .9em;
		padding: .5em 1em;
	}
	.banner {
		margin: 3em 0 0 0;
	}
	.callbacks_tabs {
		right: 42%;
	}
	.banner-bottom {
		padding: 2em 0;
	}
	.w3l-heading h2, .w3l-heading h3 {
		font-size: 2em;
	}
	.introduction-info, .agileits-about-grids, .agileinfo_services_grids, .gallery-grids, .agile_team_grids, .w3-agileits-subscribe-form, .contact-row {
		margin: 2em 0 0 0;
	}
	.w3ls-border {
		margin: 2em auto 0;
	}
	.introduction {
		padding: 0 0 2em 0;
	}
	.about, .services, .gallery, .team, .subscribe, .contact {
		padding: 2em 0;
	}
	.captn {
		width: 175px;
		height: 100px;
	}
	.captn h4 {
		margin: 0.5em 0 0 0;
	}
	.agile_team_grid {
		width: 100%;
		float: none;
	}
	.view .w3lmask, .view .content {
		height: 400px;
	}
	.w3-agile-view .w3lmask {
		padding: 8em 1em 1em 1em;
	}
	.agile_team_grid:nth-child(2),.agile_team_grid:nth-child(3), .agile_team_grid:nth-child(4) {
		margin: 2em 0 0 0;
	}
	.w3-agileits-subscribe-form input[type="email"] {
		margin: 0 0 1em 0;
		width: 100%;
	}
	.contact input[type="submit"] {
		padding: .8em 3em;
	}
	.w3-agile-grid h5 {
		margin: 0 0 1em 0;
	}
	.agileits-w3layouts-footer {
		padding: 2em 0;
	}
}
@media(max-width:384px){
	.w3-header-top-left {
		width: 40%;
	}
	.about-grid-left span {
		font-size: 1em;
	}
	.agileinfo_services_grid_right h4 {
		font-size: 2em;
	}
	.gallery-grids-left {
		float: none;
		width: 100%;
	}
	.captn {
		width: 320px;
		height: 190px;
	}
	.captn h4 {
		margin: 2.5em 0 0 0;
	}
	.address-row span.glyphicon {
		font-size: 1em;
	}
}
@media(max-width:320px){
	.w3-header-top-left {
		width: 46%;
	}
	.logo h1 a {
		font-size: .9em;
	}
	.slider-info h3 {
		font-size: 2em;
	}
	.slider-info p {
		width: 100%;
	}
	.border {
		width: 25%;
		margin: 15px auto 0;
	}
	.banner {
		margin: 2em 0 0 0;
	}
	.left-border-info {
		padding: 1em;
	}
	.w3l-heading h2, .w3l-heading h3 {
		font-size: 1.5em;
	}
	.about-grid-left {
		text-align: center;
		padding: 0;
		float: none;
		width: 100%;
		margin: 0 0 1em 0;
	}
	.about-grid-right {
		float: none;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.about-grid-right h4 {
		letter-spacing: 0px;
	}
	.agileinfo_services_grid_left h4 {
		letter-spacing: 1px;
	}
	.captn {
		width: 265px;
		height: 160px;
	}
	.w3-agile-view .w3lmask {
		padding: 4em 1em 1em 1em;
	}
	.contact-grid {
		padding: 1em;
	}
	.contact textarea {
		min-height: 9.8em;
	}
	.contact input[type="submit"] {
		padding: .8em 2em;
	}
	.address-row span.glyphicon {
		font-size: .9em;
	}
}
/*-- //responsive --*/