[v-cloak] {
    display: block;
    padding: 50px 0;

    @keyframes spinner {
        to {
            transform: rotate(360deg);
        }
    }

    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ccc;
        border-top-color: #409EFF;
        animation: spinner .6s linear infinite;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    & > div {
        display: none;
    }
}